.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  margin: 0px;
  background-color: #2E6171;
  text-align: center;
}
h1{

}

.header{
margin: 0px;

}

.button-holder{
  background-color: #556F7A;
  height: 60px;
}

.container{
  background-color: #2E6171;
}