.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




hr{
  border: 1.5px solid black;
  margin-bottom: 0px;
}


.button-holder{
  text-align: center;
  width: 550px;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #556F7A;
  height: 60px;
}

button{
  height: 45px;
  width: 90px;
  border-radius: 15px;
  margin: 8px;
  background-color: #DD7373;
  color: black;
  border: 2px solid black;
}
button:hover{
  background-color: #E5C3D1;
  cursor: pointer;
}

.completed-button{
 background-color: #87B38D
}
